body {
  background-color: #000004;

}

/* navbar settings */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000004;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #fde3e9;
  }

/* text settings */

h1 {
  color: #f084b7;
  font-family: 'K2D', sans-serif;
}

h2 {
  font-family: comic;
}
